body{
	background-color: #c0c0c0 !important;
}

.navbar{
    width:65% !important;
    margin:15px auto;
    left:0;
    right:0;
    padding:0;
}

  
.p5Canvas {
  width: 480px !important;
  height: 480px !important;
  padding-top: 40px !important;
  padding: 0;
  margin: auto;
  display: block;
}

.form-select{
  width:20% !important;
  margin:10px auto;
}    

.change-color-btn{
  width:20% !important;
  margin:5px auto;
}    

.matches {
	text-align: center;
	font-size:2em;
}
